{{!-- view to show mainview of consultation slots --}}

<head>
    <link rel="stylesheet" href="/css/catalogue.css">
    <style>
        .section-products #product- {
                {
                id
            }
        }

        .part-1::before {
            background: url("../uploads/${consultation.consultationURL}.png") no-repeat center;
            background-size: cover;
        }
    </style>
</head>

<body>

    <section class="section-products">
        <div class="row justify-content-center text-center">
            <div class="col-md-8 col-lg-6">
                <div class="header">
                    <h2>Your Consultation Slots</h2>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="col-md-8 col-lg-6">
                <a href="/tutor/consultation/create">
                    <p><span><i class="fa fa-plus" aria-hidden="true"></i></span> New Consultation Slots</p>
                </a>
            </div>
            <div class="row">
                {{!-- listing of consultation slots --}}
                {{#if consultations}}
                {{#each consultations}}
                <div class="col-md-6 col-lg-4 col-xl-3">
                    {{!-- change the image via the css thr --}}
                    <div id="product-{{id}}" class="single-product">
                        <div class="part-1">
                            <ul>
                                {{!-- <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li> --}}
                                <li><a href="/tutor/consultation/editConsultation/{{id}}"><i
                                            class="fas fa-edit"></i></a></li>
                                <li><a href="/tutor/consultation/deleteConsultation/{{id}}"><i
                                            class="fa fa-trash"></i></a></li>
                                {{!-- <li><a href="/tutor/consultation/display/{{id}}"><i class="fas fa-expand"></i></a>
                                </li> --}}
                            </ul>
                        </div>
                        <div class="part-2">
                            <h3 class="product-title">{{replaceCommas title}}</h3>
                            {{!-- <img src="/uploads/consultationImage/telegram.png" width="200px" height="200px"
                                alt="..."> --}}
                            <h3 class="product-price">${{replaceCommas price}}</h3>
                            <br>
                            <h4>Description: </h4>
                            <p class="product-description">{{replaceCommas description}}</p>
                            <h4>Date: </h4>
                            <p class="product-date">{{ formatDate date 'DD MMM YYYY'}}</p>
                            <h4>Time</h4>
                            <p class="product-starttime">{{formatDate start_time 'HH:mm'}} to {{formatDate end_time
                                'HH:mm'}}
                            </p>
                        </div>
                    </div>
                </div>
                {{/each}}
                {{else}}
                <div class="row justify-content-center text-center">
                    <div>
                        <div class="header">
                            <h2>No Consultation slots created. Below is the template</h2>
                            <hr>
                        </div>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>

        <div class="container">
            <div class="row">
                {{!-- from template --}}
                <!-- Single Product -->
                <div class="col-md-6 col-lg-4 col-xl-3">

                    <div id="product-1" class="single-product">
                        <div class="part-1">
                            <ul>
                                <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                                <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                <li><a href="#"><i class="fas fa-plus"></i></a></li>
                                <li><a href="#"><i class="fas fa-expand"></i></a></li>
                            </ul>
                        </div>
                        <div class="part-2">
                            <h3 class="product-title">Here Product Title</h3>
                            <h4 class="product-old-price">$79.99</h4>
                            <h4 class="product-price">$49.99</h4>
                        </div>
                    </div>
                </div>
                <!-- Single Product -->
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div id="product-2" class="single-product">
                        <div class="part-1">
                            <span class="discount">15% off</span>
                            <ul>
                                <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                                <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                <li><a href="#"><i class="fas fa-plus"></i></a></li>
                                <li><a href="#"><i class="fas fa-expand"></i></a></li>
                            </ul>
                        </div>
                        <div class="part-2">
                            <h3 class="product-title">Here Product Title</h3>
                            <h4 class="product-price">$49.99</h4>
                        </div>
                    </div>
                </div>
                <!-- Single Product -->
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div id="product-3" class="single-product">
                        <div class="part-1">
                            <ul>
                                <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                                <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                <li><a href="#"><i class="fas fa-plus"></i></a></li>
                                <li><a href="#"><i class="fas fa-expand"></i></a></li>
                            </ul>
                        </div>
                        <div class="part-2">
                            <h3 class="product-title">Here Product Title</h3>
                            <h4 class="product-old-price">$79.99</h4>
                            <h4 class="product-price">$49.99</h4>
                        </div>
                    </div>
                </div>
                <!-- Single Product -->
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div id="product-4" class="single-product">
                        <div class="part-1">
                            <span class="new">new</span>
                            <ul>
                                <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                                <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                <li><a href="#"><i class="fas fa-plus"></i></a></li>
                                <li><a href="#"><i class="fas fa-expand"></i></a></li>
                            </ul>
                        </div>
                        <div class="part-2">
                            <h3 class="product-title">Here Product Title</h3>
                            <h4 class="product-price">$49.99</h4>
                        </div>
                    </div>
                </div>
                <!-- Single Product -->
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div id="product-1" class="single-product">
                        <div class="part-1">
                            <ul>
                                <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                                <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                <li><a href="#"><i class="fas fa-plus"></i></a></li>
                                <li><a href="#"><i class="fas fa-expand"></i></a></li>
                            </ul>
                        </div>
                        <div class="part-2">
                            <h3 class="product-title">Here Product Title</h3>
                            <h4 class="product-old-price">$79.99</h4>
                            <h4 class="product-price">$49.99</h4>
                        </div>
                    </div>
                </div>
                <!-- Single Product -->
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div id="product-2" class="single-product">
                        <div class="part-1">
                            <span class="discount">15% off</span>
                            <ul>
                                <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                                <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                <li><a href="#"><i class="fas fa-plus"></i></a></li>
                                <li><a href="#"><i class="fas fa-expand"></i></a></li>
                            </ul>
                        </div>
                        <div class="part-2">
                            <h3 class="product-title">Here Product Title</h3>
                            <h4 class="product-price">$49.99</h4>
                        </div>
                    </div>
                </div>
                <!-- Single Product -->
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div id="product-3" class="single-product">
                        <div class="part-1">
                            <ul>
                                <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                                <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                <li><a href="#"><i class="fas fa-plus"></i></a></li>
                                <li><a href="#"><i class="fas fa-expand"></i></a></li>
                            </ul>
                        </div>
                        <div class="part-2">
                            <h3 class="product-title">Here Product Title</h3>
                            <h4 class="product-old-price">$79.99</h4>
                            <h4 class="product-price">$49.99</h4>
                        </div>
                    </div>
                </div>
                <!-- Single Product -->
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div id="product-4" class="single-product">
                        <div class="part-1">
                            <span class="new">new</span>
                            <ul>
                                <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                                <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                <li><a href="#"><i class="fas fa-plus"></i></a></li>
                                <li><a href="#"><i class="fas fa-expand"></i></a></li>
                            </ul>
                        </div>
                        <div class="part-2">
                            <h3 class="product-title">Here Product Title</h3>
                            <h4 class="product-price">$49.99</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>