<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/singleTutorial.css">
    <style>
        .consultationURL {}
    </style>
</head>

<body>
    <div class="container">
        {{!-- {{#each consultation}} --}}
        <div class="title">{{consultation.title}}</div>
        <div class="content card card-cover h-70 overflow-hidden" style="border-radius: 25px">
            <div class="row">
                {{!-- left-content --}}
                <div class="col-sm-6 align-items-start" style="padding: 50px; align-items: left;">
                    <div class="d-flex flex-column">
                        <img class="card-img" src="{{consultation.consultationURL}}" style="border-radius: 25px">
                    </div>
                    {{!-- description --}}
                    <div class="d-flex flex-column" style="padding-top: 30px">
                        <h5>Description</h5>
                        <p>{{consultation.description}}</p>
                    </div>
                </div>

                {{!-- right content --}}
                <div class="col-sm-6 align-items-start" style="text-align:left padding: 50px">
                    {{!-- title --}}
                    <div class="d-flex flex-column">
                        <h4 class="card-title">{{consultation.title}}</h4>
                    </div>
                    {{!-- author/ user name --}}
                    <div class="d-flex flex-column">
                        <h4>Author</h4>
                        <p class="card-text">{{consultation.userName}} display username here, after integration.</p>
                    </div>
                    {{!-- date and time --}}
                    <div class="d-flex flex-column">
                        <h4>Date and Time</h4>
                        <div class="d-flex flex-row">
                            <div>
                                <p><strong>Date</strong></p>
                                <p class="card-text">{{formatDate consultation.date 'DD/MM/YYYY'}} </p>
                            </div>
                            <div>
                                <p><strong>Time</strong></p>
                                <p class="card-text">{{ formatDate
                                    consultation.start_time 'HH:mm'}} to {{formatDate consultation.end_time 'HH:mm'}}
                                </p>
                            </div>
                        </div>
                    </div>
                    {{!-- price --}}
                    <div class="d-flex flex-column">
                        <h4>Price</h4>
                        <p class="card-text">${{consultation.price}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <a href="/student/consultation/listConsultations" class="btn btn-primary"
                    style="width:170px;margin-top:-50%">Back</a>
            </div>

            <div class="col-sm-3" style="margin-left: 40%;margin-top:-6%;">
                <form action="/cart/addtoCart" method="POST">
                    <input type="hidden" name="id" value={{consultation.id}}>
                    <input type="hidden" name="title" value="{{consultation.title}}">
                    <input type="hidden" name="price" value={{consultation.price}}>
                    <input type="hidden" name="author" value="Dylan">
                    <input type="hidden" name="tutorid" value={{consultation.userId}}>
                    <input type="hidden" name="image" value={{consultation.roomURL}}>
                    <input type="hidden" name="product_item"
                        value="Please go to Dashboard>Consultations to access your room URl">
                    <input type="hidden" name="productType" value="event">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-shopping-cart"></i></button>
                </form>
            </div>
        </div>
    </div>
    {{!-- {{/each}} --}}
    </div>

</body>

</html>