<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/catalogue.css">

    <style>
        .card {
            border-radius: 5px;
            background-color: #fff;
            padding-left: 60px;
            padding-right: 60px;
            margin-top: 30px;
            padding-top: 30px;
            padding-bottom: 30px
        }

        td {
            padding-bottom: 10px
        }

        .star-active {
            color: #FBC02D;
            margin-top: 10px;
            margin-bottom: 10px
        }

        .star-inactive {
            color: #CFD8DC;
            margin-top: 10px;
            margin-bottom: 10px
        }

        .blue-text {
            color: #0091EA
        }

        .content {
            font-size: 18px
        }

        .profile-pic {
            width: 90px;
            height: 90px;
            border-radius: 100%;
            margin-right: 30px
        }

        /*
        .pic {
            width: 200px;
            height: 250px;
            margin-right: 10px
        }
        */

        .vote {
            cursor: pointer
        }

        .padding {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    </style>
</head>

<body>

    <div class="box">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div>
                    <div class="">
                        <div class="header">
                            <h2>Your Given Reviews</h2>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="col-md-8 col-lg-6">
                        <a href="/student/review/choose" class="btn btn-primary"><span><i class="fa fa-plus"
                                    aria-hidden="true"></i></span> New Review</a>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-10 col-12 text-center mb-5">
                        {{#if reviews}}
                        {{#each reviews}}
                        <div class="card">
                            <div class="row">
                                <div class="col-sm-8 align-items-start">
                                    <div class="d-flex flex-column text-left">
                                        {{!-- product name --}}
                                        <div style="margin-top: 0px" class="padding">
                                            <h2 class="content" style="font-size: 20px !important">Review
                                                For:&nbsp;&nbsp;&nbsp; <span class="mt-2 mb-0 text-left"
                                                    style="font-weight:normal">{{product_name}}</span></h3>

                                        </div>

                                        {{!-- title --}}
                                        <div style="margin-top: 0px" class="padding">
                                            <h2 class="content">Review Title</h3>
                                                <p class="mt-2 mb-0 text-left" style="padding: 0px; margin: 0px">
                                                    {{title}}
                                                </p>
                                        </div>

                                        {{!-- category --}}
                                        <div style="" class="padding">
                                            <h4 class="content">Category</h4>
                                            <p class="content">{{category}}</p>
                                        </div>

                                        {{!-- rating --}}
                                        <h4 class="content" class="padding">Rating: </h4>
                                        <div class="row" style="margin-left: 0px">
                                            {{#times rating}}
                                            <img src="/background/star.png" style="height: 20px; width: 20px;">
                                            {{/times}}

                                            <p class="" style="margin-left: 20px">{{rating}} / 5</p>
                                        </div>
                                        {{!-- description --}}
                                        <div class="padding">
                                            <h4 class="content">Description</h4>
                                            <p class="content">{{description}}</p>
                                        </div>
                                        <div>
                                            <p class="text-muted pt-5 pt-sm-3">Date of Review: {{formatDate updatedAt
                                                'DD MMM YYYY'}}
                                            </p>
                                            {{#ifCond sentiment_score '>' 0}}
                                            <p class="text-muted pt-5 pt-sm-3">Sentiment score: {{sentiment_score}}
                                                <span>😄</span>
                                            </p>
                                            {{/ifCond}}
                                            {{#ifCond sentiment_score '==' 0}}
                                            <p class="text-muted pt-5 pt-sm-3">Sentiment score: {{sentiment_score}}
                                                <span>😐</span>
                                            </p>
                                            {{/ifCond}}
                                            {{#ifCond sentiment_score '<' 0}} <p class="text-muted pt-5 pt-sm-3">
                                                Sentiment score: {{sentiment_score}}
                                                <span>😡</span>
                                                </p>
                                                <a href="../../../student/review/displaycomplain/{{id}}">(view complain
                                                    here)</a>
                                                </p>
                                            {{/ifCond}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <img class="img-fluid rounded float-end" style="margin-top: 10px" src="{{image}}">
                                </div>
                            </div>
                            <div class="row d-flex">
                                <div class="ml-auto" style="padding-top: 10px">
                                    <div class="fa-icons row d-flex justify-content-end">
                                        <div style="margin-right: 20px;">
                                            <a href="/student/review/editReview/{{id}}" class="btn btn-info"><i
                                                    class="fas fa-edit fa-md"></i>
                                                Edit Review</a>
                                        </div>
                                        <div style="margin-right: 20px">
                                            <a href="/student/review/deleteReview/{{id}}/{{product_name}}"
                                                class="btn btn-danger"><i class="fa fa-trash fa-md"></i> Delete
                                                Review</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        {{/each}}
                        {{else}}
                        <div class="row justify-content-center text-center">
                            <div class="image">
                                <div class="trick"></div>
                                <img src="/background/bg1.png" />
                            </div>
                        </div>
                        <div class="row justify-content-center text-center">
                            <div>
                                <div class="header" style="padding-top: 50px">
                                    <h2>You have yet to make any review.</h2>
                                    <hr>
                                </div>
                            </div>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script type="text/javascript">
        (function (d, m) {
            var kommunicateSettings =
                { "appId": "3e0537640d1d5c042f7a822f6497a4676", "popupWidget": true, "automaticChatOpenOnNavigation": true };
            var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
            s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
            var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
            window.kommunicate = m; m._globals = kommunicateSettings;
        })(document, window.kommunicate || {});
/* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
    </script>
</body>