<style>
  #example1 {
    padding: 15px;
    box-shadow: 0px 0.5px 2px grey;
    margin: 15px;
  }

  #example3 {
    padding: 15px 70% 15px 15px;
    box-shadow: 0px 0.5px 2px grey;
  }

  #example2 {
    padding: 15px;
    box-shadow: 0px 0.5px 3px grey;
  }

  .button {
    background-color: #5CBF8F;
    /* Green */
    border: none;
    color: white;
    padding: 10px 130px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .table-condensed td {
    border: none !important;
  }

  .select-wrap {
    border: 1px solid #777;
    width: 150px;
    background-color: #fff;
    position: relative;
  }

  .select-wrap label {
    font-size: 8px;
    text-transform: uppercase;
    color: #777;
    padding: 0 8px;
    margin-top: -1%;
    position: absolute;
    top: 6px;
  }

  select {
    background-color: #fff;
    border: 0px;
    height: 40px;
    font-size: 16px;
    padding-left: 3%;
    padding-top: 4%;
    font-size: 13px;
    margin-right: 4%;
  }

  label {
    display: block;
  }

  input[type="radio"] {
    width: auto;
    display: inline;
  }
</style>

{{#if theordermade}}
<div class="row" style="width:120%; margin-left:-7%;">
  <table style="width: 100%;">
    <tr>
      <h2 style="font-size: 22px; margin-top:7%;"><b>Order Summary #{{theordermade.order_id}}</b></h2><br>
      <h2 style="font-size: 13px; margin-top:9.5%;margin-left:-16%;">View your order details and
        order items again
        <u>here</u>
      </h2>
    </tr>
    <tr>
      <td style="width:87%;">
        <b>
          <h4 style="font-size: 15px;font-weight:700;margin-top:2%;margin-bottom:1.5%;">Your ordered items</h4>
        </b>
        {{#each orderItems}}
        <div id="example2" style="width:120%;">
          <h5 style="text-align:left;font-size:20px;">{{prod_name}}<br><span style="font-size:9px;margin-top:-7%;">A
              {{prodType}} by {{author}}</span></h5>
          <h6 style="text-align:right;margin-top:-3%;"><b>{{price}}</b></h6>
          <h6 style="text-align:left;"><b>Link for your {{prodType}}: {{item_detail}}</b></h6>
        </div>
        <br>
        {{/each}}
      </td>
    </tr>

    <tr>
      <td style="width:40%;">
        <div class="table-responsive cart_info" style="margin-left: -1%;">
          <b>
            <h4 style="font-size: 15px;font-weight:700;margin-top:1%;margin-left:1.5%;">Account Information</h4>
          </b>
          <div id="example1" style="width:60%;">
            <p style="text-align: left;font-size: 13px;">Name: {{user.name}}</p>
            <p style="text-align: left;font-size: 13px;">Email: {{user.email}}</p>
          </div>
          <b>
            <h4 style="font-size: 15px; margin-top:2%;font-weight:700;margin-left:1.5%;">Payment Details</h4>
          </b>
          <div id="example1" style="width:60%;">
            <h6 style="text-align: left;font-weight:600;">{{theordermade.country}}</h6>
            <p style="text-align: left;font-size: 13px;">Payment Method: {{theordermade.paym}}</p>
          </div>
        </div>
      </td>
      <td style="width: 20%;">
        <b>
          <h4 style="font-size: 15px; margin-top:3%;margin-left:-220%;font-weight:700;">Details</h4>
        </b>
        <div id="example1" style="width:160%;margin-left:-220%;">
          <h6 style="text-align:left;font-weight:600;margin-top:10%">Order Subtotal:</h6>
          <h6 style="text-align: left;font-size: 13px;">SGD {{theordermade.totalPrice}}</h6>
          <h6 style="text-align: left;font-weight:600;">Order Discount:</h6>
          <p style="text-align: left;font-size: 13px;">SGD 0.00</p>
          <h6 style="text-align: left;font-weight:600;margin-top:-2%;">Order Total:</h6>
          <h6 style="text-align: left;font-weight:600;margin-bottom:17%;"><u>SGD {{theordermade.totalPrice}}</u></h6>
        </div>
      </td>
      <td style="width:30%;">
        <b>
          <h4 style="font-size: 15px;font-weight:700;color:white;">/////</h4>
        </b>
        <div id="example1" style="width:170%;margin-left:-150%;margin-top:12%">
          <h6 style="text-align: left;font-weight:600;margin-top:15%">Order Date:</h6>
          <h6 style="text-align: left;font-size: 13px;">{{theordermade.createdAt}}</h6>
          <h6 style="text-align: left;font-weight:400;font-size:11px;margin-bottom:12%;color:grey;margin-bottom:20%;">
            Refunds are not applicable under Edutor’s guidelines and Privacy Policy.
            Digital downloads, once sold, are deemed un-refundable.
            For more enquiries, email us at support@edutor.org</h6>
        </div>
      </td>
    </tr>
  </table>
</div>
{{/if}}