<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/singleTutorial.css">
</head>

<body>
    <div class="container">
        {{!-- {{#each tutorials}} --}}
        <div class="title">{{tutorials.title}}</div>
        <div class="content">

            {{!-- <div>
                {{!-- <img class="view" src="https://i.ibb.co/L8Nrb7p/1.jpg">
                <img src="/uploads/{{tutorials.userId}}/{{tutorials.tutorialImageURL}}" class="view" style="">
            </div> --}}
            <div>

                {{!-- <input id="tutorialImageURL" type="hidden" name="tutorialVideoURL" value={{ tutorials.video}}">
                --}}
                <video width="820" height="640" controls>
                    <source src="http://localhost:5001/tutor/tutorial/get-video/{{tutorials.video}}" type="video/mp4">
                </video>
            </div>


            <div>
                <h4>Author</h4>
                {{!-- Will display None because dunno display which tutorial info so need to retroeve according to
                tutorial ID first--}}
                <p>{{tutorials.author}}</p>
                <h4>Description</h4>
                <p>{{tutorials.description}}</p>
            </div>
        </div>
        {{!-- {{/each}} --}}
    </div>

</body>

</html>