<head>
    <link rel="stylesheet" href="/css/catalogue.css">
</head>

<body>

    <section class="section-products">
        {{!-- <div>
            <a href="/tutor/tutorial/create">
                <p><span><i class="fa fa-plus" aria-hidden="true"></i></span> Upload New Tutorial</p>
            </a>
        </div> --}}
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-md-8 col-lg-6">
                    <div class="header">
                        <h2>Available TuTORIALS</h2>
                    </div>
                </div>
            </div>
            {{#each tutorials}}
            {{#if_equal category "Beginner Level"}}
            <h2 class="types">Beginnersss Level</h2> 
            {{else}}

            {{/if_equal}}
            {{/each}}


            <div class="row1">
                <div class="row">
                    <!-- Single Product -->
                    {{#each tutorials}}
                    {{#if_equal category "Beginner Level"}}
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-{{id}}" class="single-product">
                            <div class="part-1">
                                <img src="/uploads/{{userId}}/{{tutorialImageURL}}"
                                    class="product-{{id}} part-1 consultationImage123" style="">
                                <ul>
                                    {{!-- <li><a href="#"><i class="fa fa-shopping-cart" ></i></a> --}}
                                    <form action="/cart/addtoCart" method="POST">
                                        <input type="hidden" name="id" value={{id}}> 
                                        <input type="hidden" name="title" value={{title}}> 
                                        <input type="hidden" name="price" value={{price}}> 
                                        <input type="hidden" name="author" value={{author}}> 
                                        <input type="hidden" name="tutorid" value={{userId}}> 
                                        <input type="hidden" name="image" value={{tutorialImageURL}}> 
                                        <button type="submit" class="btn btn-primary">Add to cart</button>
                                    </form>
                                    </li>
                                    <li><a href="/tutor/tutorial/display/{{id}}"><i class="fa fa-info-circle"></i></a>
                                {{!-- <img class="thumbnail" src="{{replaceCommas thumbnail}}"> --}}
                                {{!-- <img src="https://i.ibb.co/L8Nrb7p/1.jpg" height="300" alt=" Trulli"> --}}
                                {{!-- class="border img-thumbnail img-fluid" --}}
                                <ul>
                                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a>
                                    </li>
                                    <li><a href="/student/tutorial/display/{{id}}"><i class="fa fa-info-circle"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="part-2">
                                <h3 class="product-title">{{title}}</h3>
                                {{!-- <h4>{{replaceCommas description}}</h4> --}}
                                <h4 class="product-price">${{price}}</h4>
                                <h3 class="product-title">{{replaceCommas title}}</h3>
                                {{!-- <h4>{{replaceCommas description}}</h4> --}}
                                <h4 class="product-price">${{replaceCommas price}}</h4>
                            </div>
                        </div>
                    </div>
                    {{/if_equal}}
                    {{/each}}

                    {{/each}}


                </div>
            </div>

            {{!-- Intermediate level --}}
            {{#each tutorials}}
            {{#if_equal tutorials.category "Intermediate Level"}}
            <h2 class="types">Intermediate Level</h2>
            {{else}}

            {{/if_equal}}
            {{/each}}


            <div class="row2">

                <div class="row">
                    <!-- Single Product -->
                    {{#each tutorials}}
                    {{#if_equal category "Intermediate Level"}}
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-{{id}}" class="single-product">
                            <div class="part-1">
                                <img src="/uploads/{{userId}}/{{tutorialImageURL}}"
                                    class="product-{{id}} part-1 consultationImage123" style="">
                                {{!-- <img class="thumbnail" src="{{replaceCommas thumbnail}}"> --}}
                                {{!-- <img src="https://i.ibb.co/L8Nrb7p/1.jpg" height="300" alt=" Trulli"> --}}
                                {{!-- class="border img-thumbnail img-fluid" --}}
                                <ul>
                                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a>
                                    </li>
                                    <li><a href="/student/tutorial/display/{{id}}"><i class="fa fa-info-circle"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="part-2">
                                <h3 class="product-title">{{replaceCommas title}}</h3>
                                {{!-- <h4>{{replaceCommas description}}</h4> --}}
                                <h4 class="product-price">${{replaceCommas price}}</h4>
                            </div>
                        </div>
                    </div>
                    {{/if_equal}}
                    {{/each}}
                </div>
            </div>
            {{#each tutorials}}
            {{#if_equal category "Advance Level"}}
            <h2 class="types">Advance Level</h2>
            {{else}}

            {{/if_equal}}
            {{/each}}


            <div class="row2">
                <div class="row">
                    <!-- Single Product -->
                    {{#each tutorials}}
                    {{#if_equal category "Advance Level"}}

                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-{{id}}" class="single-product">
                            <div class="part-1">
                                <img src="/uploads/{{userId}}/{{tutorialImageURL}}"
                                    class="product-{{id}} part-1 consultationImage123" style="">
                                {{!-- <img class="thumbnail" src="{{replaceCommas thumbnail}}"> --}}
                                {{!-- <img src="https://i.ibb.co/L8Nrb7p/1.jpg" height="300" alt=" Trulli"> --}}
                                {{!-- class="border img-thumbnail img-fluid" --}}
                                <ul>
                                    {{!-- <li><a href="#"><i class="fa fa-shopping-cart" ></i></a> --}}
                                    <form action="/cart/addtoCart" method="POST">
							        <input type="hidden" name="id" value={{id}}> 
                                    <button type="submit" class="btn btn-primary">Add to cart</button>
                                    </form>
                                    </li>
                                    <li><a href="/tutor/tutorial/display/{{id}}"><i class="fa fa-info-circle"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="part-2">
                                <h3 class="product-title">{{replaceCommas title}}</h3>
                                {{!-- <h4>{{replaceCommas description}}</h4> --}}
                                <h4 class="product-price">${{replaceCommas price}}</h4>
                            </div>
                        </div>
                    </div>

                    {{/if_equal}}

                    {{/each}}

                </div>
            </div>


            {{#each tutorials}}
            {{#if_equal category "Others"}}
            <h2 class="types">Others</h2>
            {{/if_equal}}
            {{/each}}
            <div class="row2">
                <div class="row">
                    <!-- Single Product -->
                    {{#each tutorials}}
                    {{#if_equal category "Others"}}

                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-{{id}}" class="single-product">
                            <div class="part-1">
                                <img src="/uploads/{{userId}}/{{tutorialImageURL}}"
                                    class="product-{{id}} part-1 consultationImage123" style="">
                                {{!-- <img class="thumbnail" src="{{replaceCommas thumbnail}}"> --}}
                                {{!-- <img src="https://i.ibb.co/L8Nrb7p/1.jpg" height="300" alt=" Trulli"> --}}
                                {{!-- class="border img-thumbnail img-fluid" --}}
                                <ul>
                                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a>
                                    </li>
                                    <li><a href="/student/tutorial/display/{{id}}"><i class="fa fa-info-circle"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="part-2">
                                <h3 class="product-title">{{replaceCommas title}}</h3>
                                {{!-- <h4>{{replaceCommas description}}</h4> --}}
                                <h4 class="product-price">${{replaceCommas price}}</h4>
                            </div>
                        </div>
                    </div>

                    {{/if_equal}}


                    {{/each}}


                </div>
            </div>




        </div>

    </section>
</body>
