<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/singleTutorial.css">
</head>

<body onload="onLoadSubmit()">
    <div class="container">
        {{!-- {{#if orders}} --}}
        {{!-- {{#else}} --}}
        {{!-- {{/if}} --}}


        {{!-- {{#each tutorials}} --}}
        <div class="title">{{tutorials.title}}</div>
        <div class="content">
            {{!-- <div>
                <img class="view" src="https://i.ibb.co/L8Nrb7p/1.jpg">
                <img src="/uploads/{{tutorials.userId}}/{{tutorials.tutorialImageURL}}" class="view" style="">
            </div> --}}
            {{!-- <form method="POST" id="my-form" enctype="multipart/form-data" action="#"> --}}


                <div>

                    {{!-- <input id="login" type="hidden" name="login" value={{ tutorials.userId}}"> --}}

                    {{!-- <video width="820" height="640" controls>
                        <source
                            src="http://localhost:5001/student/tutorial/get-video/{{tutorials.userId}}/{{tutorials.video}}"
                            type="video/mp4">
                    </video> --}}

                    <img src={{tutorials.tutorialImageURL}} style="margin-left:3%;height: 300px;width:200px;">


                </div>
            </form>


            <div>
                <form action="/cart/addtoCart" method="POST">
                    <input type="hidden" name="id" value="{{tutorials.id}}">
                    <input type="hidden" name="title" value="{{tutorials.title}}">
                    <input type="hidden" name="price" value={{tutorials.price}}>
                    <input type="hidden" name="author" value="{{tutorials.author}}">
                    <input type="hidden" name="tutorid" value="{{tutorials.userId}}">
                    <input type="hidden" name="image" value="{{tutorials.tutorialImageURL}}">
                    <input type="hidden" name="product_item" value="{{tutorials.video}}">
                    <input type="hidden" name="productType" value="course">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-shopping-cart"></i></button>
                </form>
            </div>
            <div>
                <h4>Author</h4>
                {{!-- Will display None because dunno display which tutorial info so need to retroeve according to
                tutorial ID first--}}
                <p>{{tutorials.author}}</p>
                <h4>Description</h4>
                <p>{{tutorials.description}}</p>
            </div>
        </div>
        {{!-- {{/each}} --}}
    </div>

</body>


</html>
