{{!-- view to show mainview of consultation slots --}}

<head>
    <link rel="stylesheet" href="/css/catalogue.css">
</head>

<body>

    <section class="section-products">
        <div class="container">
            {{#if event}}
            <div class="row justify-content-center text-center">
                <div class="col-md-8 col-lg-6">
                    <div class="header">
                        <h2>Events</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {{#each event}}
                <!-- Single Product -->
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div  class="single-product">

                        <div class="part-1">
                            <img src="/eventuploads/1/{{eventURL}}" class="single-product">

                            <ul>
                                <li><a href=""><i class="fa fa-shopping-cart"></i></a></li>


                            </ul>
                        </div>
                        <div class="part-2">
                            <h3 class="product-title">{{title}}</h3>
                            <h4 class="product-description">Description: {{description}}</h4>
                            <h5 class="product-date">Date:{{formatDate startdate 'DD MMM YYYY'}} ~ {{formatDate enddate
                                'DD MMM YYYY'enddate}} </h5>
                            <h6 class="product-time">Time:{{starttime}} ~ {{endtime}} </h6>
                            <h7 class="product-status">Status: {{status}} </h7>
                            <br>
                            <h8 class="product-price">Price: {{price}} </h8>

                        </div>

                    </div>

                </div>
                {{/each}}
            </div>
            {{else}}
            <h2>No Events</h2>
            {{/if}}


        </div>
    </section>
</body>